@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	
</head>
<body>

	<div class="container-local">
		<div class="heading-local">
			@if (!SignInManager.IsSignedIn(User))
			{
				<img src="./Assets/teamsyncmain.svg" alt="TeamSync"/>
				<h6>Log in to view your schedule.</h6>
				
			}
			else
			{
				<h1><img src="./Assets/teamsyncmain.svg" alt="TeamSync" />  </h1>
				<h6 id ="greeting">What would you like to do today?</h6>
			}
		</div>
	</div>
	@*<script src="~/js/site.js"></script>*@
</body>
</html>
