
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	
</head>
<body>
	<div class="container-local">
		<div class="heading-local">
			<h1 id="greeting">Hello!</h1>
		</div>
	</div>
	<script src="~/js/site.js"></script>
</body>
</html>
