@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager



<div class="d-flex justify-content-between align-items-center my-4">
    <h2 class="fw-bolder">Users</h2>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Create" class="btn btn-primary shadow ml-auto">+ Create Account</a>        
    }
</div>


<table class="table glass shadow">
    <thead>
        <tr>
            <th>User ID</th>
            <th>Email</th>
         
        </tr>
    </thead>
    <tbody>
        @foreach (var user in UserManager.Users)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Email</td>
         
            </tr>
        }
    </tbody>
</table>
