@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using OnlineOrganizationManagementSystem.Data
@inject ApplicationDbContext _context

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineOrganization</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.6/index.global.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" href="~/OnlineOrganizationManagementSystem.styles.css" asp-append-version="true" />
</head>
<body>
  @*  <header>*@
      @*  <nav class="navbar navbar-expand-sm navbar-toggleable-sm glass box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Organize</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon btn btn-primary"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">*@
                    
                    <header>
                        <nav class="glass sticky">
                    <ul>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <i class="bx bxs-calendar"></i>
                                <span><a asp-area="" asp-controller="CalendarEvents" asp-action="Index">Calendar</a></span>
                            </li>

                            <li class="nav-item">
                                <i class="bx bxs-dashboard"></i>
                                <span><a  asp-area="" asp-controller="Mails" asp-action="Index">Updates</a></span>
                            </li>

                            @if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    <i class="bx bxs-user"></i>
                                    <span><a  asp-area="" asp-controller="Usermanagement" asp-action="Index">Users</a></span>
                                </li>
                            }
                            @if (!User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    <i class="bx bxs-note"></i>
                                    <span><a  asp-area="" asp-controller="Notes" asp-action="Index">Notes</a></span>
                                </li>
                                <li class="nav-item">
                                    <i class="bx bxs-group"></i>
                                    <span><a  asp-area="" asp-controller="Teams" asp-action="Index">Teams</a></span>
                                </li>
                                @if (_context.Teams.Any(t => t.UIUXDeveloperId == UserManager.GetUserId(User) || t.FrontendDeveloperId ==
                               UserManager.GetUserId(User) || t.BackendDeveloperId == UserManager.GetUserId(User) || t.TesterId ==
                               UserManager.GetUserId(User) || t.TeamLeadId == UserManager.GetUserId(User) || t.ReportsToId ==
                               UserManager.GetUserId(User)))
                                {
                                    <li class="nav-item">
                                        <i class="bx bxs-task"></i>
                                        <span><a  asp-area="" asp-controller="Tasks" asp-action="Index">Tasks</a></span>
                                    </li>
                                    <li class="nav-item">
                                        <i class="bx bxs-money"></i>
                                        <span><a  asp-area="" asp-controller="Expenses" asp-action="Index">Expenses</a></span>
                                    </li>
                                }
                            }
                            @if (User.IsInRole("Manager"))
                            {
                                <li class="nav-item">
                                    <i class="bx bxs-archive"></i>
                                    <span><a  asp-area="" asp-controller="Teams" asp-action="Archival">Archives</a></span>
                                </li>
                                @if (_context.Teams.Any(t => t.UIUXDeveloperId == UserManager.GetUserId(User) || t.FrontendDeveloperId ==
                               UserManager.GetUserId(User) || t.BackendDeveloperId == UserManager.GetUserId(User) || t.TesterId ==
                               UserManager.GetUserId(User) || t.TeamLeadId == UserManager.GetUserId(User) || t.ReportsToId ==
                               UserManager.GetUserId(User)))
                                {
                                    <li class="nav-item">
                                        <i class="bx bxs-group-meeting"></i>
                                        <span><a  asp-area="" asp-controller="Meetings" asp-action="Index">Meetings</a></span>
                                    </li>
                                    <li class="nav-item">
                                        <i class="bx bxs-group-meeting"></i>

                                        <a  asp-area="" asp-controller="Expenses" asp-action="Index">Expenses</a>
                                    </li>
                                }
                            }}
                    </ul>


    <partial name="_LoginPartial" />    </nav>
    </header>
        @*        </div>
            </div>
        </nav>
    </header>*@
    <div class="container">
        <div class="fade-in">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    </div>

    @* <footer class="border-top footer text-muted">
       <div class="container">
            &copy; 2023 - AuthWithRolesTest - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
        </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>