@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


    @if (SignInManager.IsSignedIn(User))
    {
   
        
        <li class="nav-item">
            <i class="bx bxs-log-out-circle"></i>
            <span>
              
            <a class="nav-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">Logout</a>
            </span>
        </li>
           
       
    }
    else
    {
     
        <li class="nav-item">
            <i class="bx bxs-log-in"></i>
            <span> <a asp-area="Identity" asp-page="/Account/Login">Login</a></span>
        </li>
    }
