@model IEnumerable<OnlineOrganizationManagementSystem.Models.Tasks>


@{
    ViewData["Title"] = "Index";
}

<h1>My Tasks</h1>

@if (User.IsInRole("Manager"))
{
    
    <a asp-action="Create" class="btn btn-secondary">+ Create New</a>

}

<label  class="control-label"></label>
<select id="SelectedTeam"  class="form-control" asp-items="ViewBag.TeamId">
    <option value="" disabled selected>Select a team</option>
</select>

<div id="tasks">
   
    <partial name="GetTasks"/>
    
</div>

@section Scripts{
    <script>
        $('#SelectedTeam').change(function () {
            $.ajax({
                    url: '/Tasks/GetTasks',
                    data: { TeamId: $('#SelectedTeam').val() },
                    type: 'GET',
                    dataType: 'html',
                    success: function (result) {
                        console.log(result);
                    
                    $('#tasks').html(result);
                }
            });
        });
    </script>
}