@model IEnumerable<OnlineOrganizationManagementSystem.Models.Tasks>


@{
    ViewData["Title"] = "Index";
}


<div class="d-flex justify-content-between align-items-center mt-5 mb-2">
    <h2 class="fw-bolder">My Tasks</h2>
    @if (User.IsInRole("Manager"))
    {
        <a asp-action="Create" class="btn btn-primary shadow ml-auto">+ Create New</a>
    }
</div>


<label  class="control-label"></label>
<select id="SelectedTeam"  class="form-control" asp-items="ViewBag.TeamId">
    <option value="" disabled selected>Select a team</option>
</select>

<div id="tasks" class="container justify-content-center mt-3">
   
    <partial name="GetTasks"/>
    
</div>

@section Scripts{
    <script>
        $('#SelectedTeam').change(function () {
            $.ajax({
                    url: '/Tasks/GetTasks',
                    data: { TeamId: $('#SelectedTeam').val() },
                    type: 'GET',
                    dataType: 'html',
                    success: function (result) {
                        console.log(result);
                    $('#tasks').html(result);
                }
            });
        });
    </script>
}