@model IEnumerable<OnlineOrganizationManagementSystem.Models.AttendanceRecord>

@using Microsoft.AspNetCore.Identity;
@inject UserManager<IdentityUser> userManager;
@{
    ViewData["Title"] = "Attendance Records";
}

<h1>@ViewData["Title"]</h1>

<form id="attendanceForm">
    <label class="control-label"></label>
    <select id="SelectedTeam" class="form-control" asp-items="ViewBag.AttendanceTeamId">
        <option value="" disabled selected>Select a team</option>
    </select>

    <button type="button" id="updateButton" class="btn btn-primary">Update</button>
</form>

<div id="teamattendance" class="container justify-content-center mt-3">
    <partial name="TeamAttendancePartial" />
</div>

@section Scripts{
    <script>
        $('#updateButton').click(function () {
            $.ajax({
                url: '/AttendanceRecords/TeamAttendancePartial',
                data: { InTeamId: $('#SelectedTeam').val() },
                type: 'GET',
                dataType: 'html',
                success: function (result) {
             
                    console.log(result);
                    $('#teamattendance').html(result);
                }
            });
        });
    </script>
}