@model IEnumerable<OnlineOrganizationManagementSystem.Models.Expense>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex justify-content-between align-items-center my-4">
    <h2 class="fw-bolder">Team Expenses</h2>
    @if (User.IsInRole("Manager"))
    {
        <a asp-action="Create" class="btn btn-primary shadow ml-auto">+ Create New</a>
    }
</div>

@if (!Model.Any())
{
    <div class="glass p-4">
        <h4 class="text-center ">No Expenses yet!</h4>
    </div>
}
else{
<label  class="control-label"></label>
<select id="SelectedTeam"  class="form-control" asp-items="ViewBag.TeamId">
    <option value="" disabled selected>Select a team</option>
</select>

<div id="expenses" class="container justify-content-center mt-3">
   
    <partial name="ExpensePartial"/>
    
</div>

@section Scripts{
    <script>
        $('#SelectedTeam').change(function () {
            $.ajax({
                url: '/Expenses/ExpensePartial',
                data: { InTeamId: $('#SelectedTeam').val() },
                    type: 'GET',
                    dataType: 'html',
                    success: function (result) {
                        console.log(result);
                    $('#expenses').html(result);
                }
            });
        });
    </script>
}
}