@using Microsoft.AspNetCore.Identity;
@model OnlineOrganizationManagementSystem.Models.Messages
@inject UserManager<IdentityUser> userManager

@{
    ViewData["Title"] = "Create";
    var users = userManager.Users;
}


<div class="row justify-content-center">
    <div class="col-md-7 p-5 card mt-2 border-0 shadow">
    <h2 class="my-3 fw-bolder">@ViewData["Title"]</h2>
    <hr />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group my-2">
                <label asp-for="SenderMail" class="control-label"></label>
                <input asp-for="SenderMail" class="form-control" value="@User.Identity.Name" readonly/>
                <span asp-validation-for="SenderMail" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="ReceiverMail" class="control-label"></label>
                <select asp-for="ReceiverMail" class="form-control" asp-items="@(new SelectList(users, "UserName", "UserName" ))">
                    
                </select>
                <span asp-validation-for="ReceiverMail" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="Subject" class="control-label"></label>
                <input asp-for="Subject" class="form-control" />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="Body" class="control-label"></label>
                <input asp-for="Body" class="form-control" />
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="DateCreated" class="control-label"></label>
                <input asp-for="DateCreated" class="form-control" />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control">
                    <option value="Opened">Opened</option>
                   @* <option value="Working">Working</option>
                    <option value="Closed">Closed</option>*@
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <input type="submit" value="Create" class="w-100 btn btn-lg mt-2 btn-primary" />
                <a asp-action="Index" class="w-100 btn btn-lg mt-2 btn-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
