@model OnlineOrganizationManagementSystem.Models.Messages

@{
    ViewData["Title"] = "Create";
}


<div class="row justify-content-center">
    <div class="col-md-4">
        <h2 class="my-3 fw-bolder">Create Update</h2>

        <hr />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group my-2">
                <label asp-for="SenderMail" class="control-label"></label>
                <input asp-for="SenderMail" class="form-control" value="@User.Identity.Name" readonly/>
                <span asp-validation-for="SenderMail" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="ReceiverMail" class="control-label"></label>
                <input asp-for="ReceiverMail" class="form-control" />
                <span asp-validation-for="ReceiverMail" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="Subject" class="control-label"></label>
                <input asp-for="Subject" class="form-control" />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="Body" class="control-label"></label>
                <input asp-for="Body" class="form-control" />
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="DateCreated" class="control-label"></label>
                <input asp-for="DateCreated" class="form-control" />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control">
                    <option value="Opened">Opened</option>
                    <option value="Working">Working</option>
                    <option value="Closed">Closed</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <input type="submit" value="Create" class="w-100 btn btn-lg mt-2 btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
