
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:root {
    --bg-color: #0d1117;
    --primary-color: #402bc2;
}

ul {
    padding: 0;
    margin: 0;
}
/*Navbar styling*/
nav {
    height: 100%;
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    text-align: center;
    overflow: hidden;
    background: rgba(255, 255, 255, .06);
    box-shadow: 0 8px 32px rgba(0, 0, 0, .4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-right: 1px solid rgba(255, 255, 255, .15);
    transition: .4s;
}


    nav:hover {
        z-index:1;
        width: 250px;
        backdrop-filter: blur(50px);
        -webkit-backdrop-filter: blur(50px);
    }
    nav .nav-item, nav .nav-item a {
        cursor: pointer;
        padding: 0 20px;
        height: 60px;
        line-height: 60px;
        text-align: left;
        transition: .4s;
    }

        nav .nav-item:hover {
            text-align: left;
            background: rgba(255, 255, 255, .1);
        }

        nav .nav-item i {
            text-align:center;
            font-size:20px;
            color: #dddddd;
            transform: translateY(5px);
            transition: .4s;
        }
        nav .nav-item .special-text{
            font-size:small;
            margin-left:6px;
        }
        nav:hover .nav-item i {
            color: #ffffff;
        }

    nav .nav-item span {
        color: #ffffff;
        font-size: 18px;
        
        opacity: 0;
    }

    nav:hover .nav-item span {
        opacity: 1;
        transition: .4s;
        transition-delay: .2s;
    }
    nav .nav-list-bottom {
        bottom: 0;
        position: absolute;
        width: 100%;
    }
/*
    nav .nav-list-top,
   

    nav .nav-list-top {
        top: 32%;
    }

   

    nav .nav-brand img {
        width: 50px;
        border-radius: 50%;
        margin-top: 15px;
        transition: .4s;
    }

    nav:hover .nav-brand img {
        width: 120px;
        margin-top: 30px;
    }

    nav .nav-brand .info {
        text-align: center;
        pointer-events: none;
        opacity: 0;
    }

    nav:hover .nav-brand .info {
        opacity: 1;
        transition: .4s;
        transition-delay: .2s;
    }

    nav .nav-brand h2 {
        color: #ffffff;
        font-size: 30px;
    }

    nav .nav-brand p {
        color: #f1f1f1;
        font-size: 14px;
    }


*/

.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

    .fade-in.show {
        opacity: 1;
    }
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    color: white !important;
    min-height: 100vh;
    background-color: #111927;
    background-image: radial-gradient(at 47% 33%, hsl(206.09, 92%, 10%) 0, transparent 59%), radial-gradient(at 82% 65%, hsl(174.05, 100%, 23%) 0, transparent 55%);
    backdrop-filter: blur(15px);
    font-family: 'DM Sans', sans-serif !important;
    
}
.container-local {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
}

.heading-local {
    flex-grow: 1;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    padding: 20px;
}

#quote {
    text-size: 15px !important
}
.Low {
    color: white !important;
    background-color: hsl(174, 100%, 23%, 0.55) !important;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
}
.Medium {
    color: white !important;
    background-color: #694a098e !important;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
}
.Urgent {
    color: white !important;
    background-color: #723232d9 !important;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
}

.Closed, .Completed {
    
    color: lightseagreen !important;
}
 .Working, .Review {
    
    color: #e19b0be7 !important;
}
.Overdue {
    color: indianred !important;
}
.Opened, .Assigned {
    color: dodgerblue !important;
}

.badge-box {
    display: inline-block;
    border: 1px solid hsl(174, 100%, 30%);
    padding: 5px;
    color: hsl(174, 100%, 30%) !important;
}

.kanban-swimlane {
    padding: 4px;
    border-radius: 10px;
    background-color: hsl(206, 52%, 18%, 0.55) !important;
    backdrop-filter: blur(20px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    border: 1px solid hsl(206, 52%, 18%, 0.55);
}

a {
    text-decoration:none;
    color:white!important;
}
/*
.navbar {
    background-color: var(--bg-color) !important;
    
}

.nav-link {
    color: white !important;
}*/

.glass, .list-group-item, .card {
    backdrop-filter: blur(7px) saturate(180%);
    -webkit-backdrop-filter: blur(7px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 0 solid rgba(255, 255, 255, 0.125);
    color: white!important;
}

/*.list-group-item {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    color: white!important;
}*/

.btn-primary, .btn-secondary, .btn-info {
    background-color: hsl(206, 52%, 18%) !important;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    border-radius: 12px;
    border: 0px solid rgba(255, 255, 255, 0.125);
    color: white !important;
}

input, select, option {
    background-color: hsl(206, 52%, 18%) !important;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    border-radius: 12px;
    border: none !important;
    color: white !important;
}

.btn-danger {
    background-color: #723232d9 !important;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    color: white !important;
}
.btn-warning {
    background-color: #b97f08bf !important;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    color: white !important;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #7ac2be;
}

::-webkit-scrollbar-thumb {
    background: hsl(174.05, 100%, 23%);
    border-radius: 4px;
}

    ::-webkit-scrollbar-thumb:hover {
        background: hsl(174, 100%, 23%, 0.55);
    }