@model Teams

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Teams</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UIUXDeveloperId" class="control-label"></label>
                <select asp-for="UIUXDeveloperId" class="form-control dropdown" asp-items="ViewBag.UIUXDeveloperId"></select>
            </div>
            <div class="form-group">
                <label asp-for="FrontendDeveloperId" class="control-label"></label>
                <select asp-for="FrontendDeveloperId" class="form-control dropdown" asp-items="ViewBag.FrontendDeveloperId"></select>
            </div>
            <div class="form-group">
                <label asp-for="BackendDeveloperId" class="control-label"></label>
                <select asp-for="BackendDeveloperId" class="form-control dropdown" asp-items="ViewBag.BackendDeveloperId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TesterId" class="control-label"></label>
                <select asp-for="TesterId" class="form-control dropdown" asp-items="ViewBag.TesterId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TeamLeadId" class="control-label"></label>
                <select asp-for="TeamLeadId" class="form-control dropdown" asp-items="ViewBag.TeamLeadId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ReportsToId" class="control-label"></label>
                <select asp-for="ReportsToId" class="form-control dropdown" asp-items="ViewBag.ReportsToId"></select>
            </div> 
            <div class="form-group">
                <label asp-for="ProjectStatus" class="control-label"></label>
                <select asp-for="ProjectStatus" class="form-control dropdown" asp-items="ViewBag.ProjectStatus">
                    <option value="Onprogress">Onprogress</option>
                    <option value="Completed">Completed</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
